


body {
  background-color: #A7DBD8;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #101010;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

h1 {
  font-size: 36px;
  margin: 0 0 20px 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  margin: 0 auto;
  width: 940px;
  padding-top: 50px;
}

.row {
  background: rgba(255,255,255,0.5);
  border-radius: 3px;
  position: relative;
  padding: 20px;
  margin: 0;
}

.project {
  box-shadow: 1px 2px 7px 0px rgba(50, 50, 50, 0.1)
}

.project-input {
  background-color: #fff;
  border: none;
  padding: 5px;
  width: 100%;
}

.time {
  font-size: 62px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.buttons {
  padding-top: 26px;
  text-align: center;
}

.btn {
  width: 100px;
  border: 0;
  background-color: #69D2E7;
  border-radius: 4px;
  font: 24px/30px 'Source Sans Pro', sans-serif;
  display: inline;
  margin: 0 0 0 10px;
  padding: 5px 10px;
  text-align: center;
}

